# Default ignored files
/shelf/
/workspace.xml
Ritmos/data/humdrum-data
Ritmos/data/humdrum-data-numpy
Audios/data
INDICE_J/new_data
DFA/new_data
Comparar_dist/new_data
Grupo_Normalizacion/kuramoto_Rc.npy
Audios/wavs